<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackerlibrary" >


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
           <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41f3b400411502d70eddc4427041a8ec6325e2db"
            />

        <receiver android:name="com.example.trackerlibrary.ActionReceiver" />
    </application>
</manifest>
